*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 300px;
    background-color: white;
    font-family: "Poppins", sans-serif;
}
header{
    margin-top: 20px;
}

.class-logo{
    font-size: 2rem;
}

.class-logo p{
    font-weight: 600;
    color: rgb(128, 128, 128);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 14px;
}

ul li:hover a{
    color: #10bc69;
}

ul li a{
    text-decoration: none;
    color: rgb(128, 128, 128);
}
li{
    margin-left: 20px;
}

.btn-get_started{
    border-radius: 20px;
    background-color: #10bc69;
    padding: 10px 20px; 
    color: white;
}

.btn-get_started:hover{
   cursor: pointer;
}


.class-section{
    border: red solid 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
}

.image_illustration img{
    width: 600px;
}
