* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: white;
    font-family: "Poppins", sans-serif;
}

main {
    margin: 0 300px;
}

header {
    display: flex;
    position: fixed;
    /* Fixe le header en haut */
    top: 0;
    left: 0;
    width: 100%;
    /* Prend toute la largeur */
    height: 80px;
    background-color: white;
    /* Assure que le header reste visible */
    z-index: 1000;
    /* Le met au-dessus des autres éléments */

    /* Si tu veux centrer du contenu */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.class-logo {
    font-size: 2rem;
}

.class-logo p {
    font-weight: 600;
    color: rgb(128, 128, 128);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px 300px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 14px;
}

ul li:hover a {
    color: #10bc69;
}

ul li a {
    text-decoration: none;
    color: rgb(128, 128, 128);
}

li {
    margin-left: 20px;
}

.btn-get_started {
    border-radius: 20px;
    background-color: #10bc69;
    padding: 10px 20px;
    color: white;
}

.btn-get_started:hover {
    cursor: pointer;
}


.class-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}

.image_illustration img {
    width: 600px;
}

.image_illustration {
    animation: moveUpDown 1s infinite alternate ease-in-out;
}

@keyframes moveUpDown {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-20px);
    }
}

.container-titre h1 {
    font-size: 50px;
    color: rgb(54, 54, 54);
}

.btn {
    border-radius: 20px;
    background-color: #10bc69;
    padding: 10px 25px;
    color: white;
    border: none;
    cursor: pointer;
}

.buttons {
    display: flex;
    margin-top: 20px;
}

.btn-learn_more {
    border: 0;
    background: transparent;
    display: flex;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
}

.btn-learn_more span {
    font-size: 16x;
    font-weight: 300;
    margin-left: 10px;
}

.play-video {
    display: flex;
}


.fa-circle-play {
    color: #10bc69;
    font-size: 2em;
}

.box {
    width: 416px;
    height: 251px;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    transition: 0.5s;
    cursor: pointer;
}



.sous-section {
    margin-top: 20px;
}

.sous-section_disposition {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.box i {
    color: #10bc69;
    font-size: 2em;
}

.box h2 {
    margin-top: 15px;
    color: #444444;
}

.box p {
    margin-top: 10px;
}

.box:hover {
    transform: translateY(-10px);
}

.class-entete h2 {
    font-size: 40px;
    position: relative;
}

#class-shadow {
    position: relative;
    display: inline;
    top: 40px;
    opacity: 0.05;
    font-size: 59px;
}




.container-about {
    display: flex;
    text-align: center;
    justify-content: center;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    width: 600px;
}

.class-on-image {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    top: 250px;
    left: 270px;
    border-radius: 50px;
    background-color: #10bc69;
    width: 10%;
    padding: 20px;
    color: white;
    cursor: pointer;
}

.left h2 {
    font-size: 35px;
}

.left ul {
    margin: 20px 0px;
}

.left ul li {
    list-style: none;
    padding: 10px 0px;
}

.about{
    margin-top: 150px;
}
.container-about {
    display: flex;
    text-align: center;
    justify-content: center;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    width: 600px;
}

.class-on-image {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    top: 250px;
    left: 270px;
    border-radius: 50px;
    background-color: #10bc69;
    width: 10%;
    padding: 20px;
    color: white;
    cursor: pointer;
}

.left h2 {
    font-size: 30px;
}

.left ul {
    margin: 20px 0px;
    text-align: justify;
}

.left ul li {
    list-style: none;
    padding: 10px 0px;
}
.left i{
    color: #10bc69;
    margin: 5px 5px;
    padding: 0px 5px;
}
.class-evolution-number{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px 50px;
}
.class-evolution-number h2{
    font-size: 50px;
    color: #10bc69;
    margin: 15px 0px;
}

.class-evolution-number p{
    color: #444444;
}
.class-detail-service{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 25px;
}

.boite{
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 416px;
    height: 416px;
    padding: 20px;
    text-align: center;
    
}

.boite p{
    margin: 20px 0;
}

.boite h2{
    margin: 20px 0;
}
.class-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    background-color: #10bc69;
    color: white;
}

.container-service {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 150px;
}

.container-portfolio {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 150px;
}

.class-list-element{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.class-list-element ul{
    list-style: none;
}

.class-list-element ul li{
    cursor: pointer;
}
#pointer-li{
    color: #10bc69;
}
.class-list-element ul li:hover{
    color: #10bc69;
}
.class-ul-list-element{
    display: flex;
}

#pointer-li{
    color: #10bc69;
}
.class-list-element ul li:hover{
    color: #10bc69;
    cursor:pointer;
}

.class-list-element li{
    font-weight: bold;
}


.class-card-portfolio{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.card img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;


}
.card{
    width: 421px;
}